@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    --primary:#030420;
    --junior:#cc0202;
    --senior:#00A4E3;
    --light: #FAFAFA;
    --success:#CEC69B;
    --neon:#5C7a02;
    --orange:#FCE205;
    --outline:#222;
}

body{
    background-color: var(--primary);
    font-family: 'DM Sans', sans-serif;
    color: white;
}
header{
    background-color: var(--primary);
}
.content{
    max-width:1400px;
    margin: auto;
}
a{
    color: white;
}
a:hover{
    color: var(--senior);
}
/* ---Menu interchange-- */
@media screen and (min-width:820px){
    .big-menu{
        display: block;
    }
    .small-screen{
        display: none;
    }
}
@media screen and (max-width:819Px){
    .small-screen{
        display: block;
    }
    .big-menu{
        display: none;
    }
}
/*Navbar styling*/
.navbar{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    /*border-bottom: 1px solid white;*/


}
/*-----Navbar styling---*/
.navbar-brand{
    color: white;
}
.navbar-nav .nav-item .nav-link{
    font-weight: 700;
    color: white;
    font-size: 12px !important;


}

.navbar-nav .nav-item .active{
    color: var(--senior);


}

.navbar-nav .nav-item .nav-link:hover{
    color: var(--senior);
}

.small-menu{
    background-color: var(--primary) !important;

}
.modal-backdrop {
    z-index: 1020!important;
}
.smaller .nav .nav-item .nav-link{
    font-size: 16px;
}

 .nav .nav-item .nav-link{
    font-weight: normal;
    font-size: 20px;
    color: white;
}

 .nav-item .nav-link:hover{
    color: var(--senior);
}
.text-primary{
    color: var(--senior) !important;
}
.text-light{
    color: var(--light) !important;
}

.btn{
    border-radius: 0px;

}
.btn:focus{
    box-shadow: none;
}
.active-btn{
    background-color: var(--senior);
    color: white !important;
}
.btn-primary{
    background-color: var(--senior);
    color: white !important;
    border: 1px solid var(--senior);
}
.btn-primary:hover{
    background-color: var(--senior);
    color: var(--primary) !important;
    border: 1px solid var(--senior);
}
.btn-outline-primary{
    border: 1px solid var(--senior);
    color: var(--senior);
}
.btn-outline-primary:hover{
    background-color: var(--senior);
    border: 1px solid var(--senior);
}
.btn-outline-light{
    border: 1px solid var(--light);
    color: var(--light);
    background: none;
}
.btn-outline-light:hover{
    border: 1px solid var(--senior);
    color: var(--senior);
    background:none;
}
.btn-link{
    color: var(--senior);
    border: none;
    background: none;

}
.btn-link:hover{
    color: var(--senior);
}
.menu-btn{
    color: white !important;
}
/*----- End of Navbar-----*/
/*------Body----*/
.match-details{
  color: white !important;
}

.match-details h6{
    font-weight: 700;
    font-size: 13px;
}
.match-details p{
    font-size: 13px;
}
.match-details p span{
    color: var(--senior);
}

.player-thumbnail{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}
.play-icon{
    opacity: 0.6;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
    background:var(--junior);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}
.player-thumbnail:hover .play-icon{
    opacity: 1;
}
.play-icon span{
    width: 20px;
}

.curved{

    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;


}
.curved:hover{
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}

.play-title .btn{
    border: 1px solid var(--senior);
    border-radius: 2px;
    padding: 5px;

}

.play-title .btn:focus{
    box-shadow: none !important;
}

.transform-card{
    background: rgba(225,225,225,0.05);
    border: 0.002rem solid var(--light);
    color: white;
    border-radius: 1px;
    min-height: 108px;
}
.transform-card:hover{
    background-color: rgba(250,250,250, 0.1);
    transform:translateY(-5px);
    transition: .3s ease-in-out;
}
.logo-image{
    width: 80px !important;
    height: 80px !important;
    border-radius: 50% !important;
    border: 1px solid var(--outline);
    overflow: hidden;

}
.logo-image img{
    max-width: 100%;
    height: auto;
    object-fit: contain

}



.popular-competitions .card h6{
    color: var(--senior);
}

.popular-logo{
    background-color: white;
    padding: 5px !important;
    height: 50px;
    width: 50px;
    object-fit: contain !important;
}
.popular-logo img{
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    margin: auto;

}


footer .nav .nav-item .nav-link{
    font-size: 16px;
}
/*-------------------Prediction Page-------------------*/

.prediction-nav .nav .nav-item{

}
.prediction-nav .nav .nav-item .nav-link{
    font-size: 14px;

}
.prediction-nav .nav .nav-item .nav-link:hover{
    color: var(--senior);
}
.prediction-nav .nav .nav-item .active{
    color: var(--senior);
}

.prediction-table{
    border: 1px solid var(--senior);
    color: white;
}

.prediction-table thead{
    font-weight: 700;
    color: var(--success);
}

.prediction-table tbody tr:hover{
   /*background-color: rgba(225,225,225,0.5);*/
    background-color: var(--senior);
    color: var(--primary);
}

.head-icon{
    background-color: white;
    color: var(--primary);
    width: 25px;
    height: 25px;


}
.tip-icon{
    background-color: var(--senior);
    color: var(--primary);
    width: 25px;
    height: 25px;
}

.win-icon{
    text-align: center;
    font-size: 14px;
    color: var(--neon);
    border:2px solid var(--neon);
    display: inline-block;
    height: 25px;
    line-height:25px;
    width: 25px;
}
.loss-icon{
    text-align: center;
    font-size: 14px;
    color: var(--junior);
    border:2px solid var(--junior);
    display: inline-block;
    height: 25px;
    line-height:25px;
    width: 25px;
}
.draw-icon{
    text-align: center;
    font-size: 14px;
    color: var(--orange);
    border:2px solid var(--orange);
    display: inline-block;
    height: 25px;
    line-height:25px;
    width: 25px;
}

/*----------------competitions page-----------------*/
.competitions li{
    margin-top: 15px;
}
.competitions li a{
    font-size: 18px;
}
.country-name{
    color: var(--senior);
}

/*---------------competition page-------------------*/

.competition-header img{
    background-color: var(--light);
    border-radius: 1px;
    padding: 5px;
}

/*-------------competition table page ------------*/
.season{
    background: none;
    border-radius: 0px;
    width: 100px;
    color: var(--senior);
    border: 0px;
    padding: 0px;
    font-weight: bold;


}
.season:focus{
    border: 0px;
    box-shadow: none;
    outline: none;
}

.league-table{
    color: var(--light) !important;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    box-sizing: border-box;

}
.league-table thead tr{
    border-bottom: 1px solid #222;
}
.league-table thead tr th{

    font-weight: bold;
    padding:15px 0px 15px 0px;
    color: var(--senior);
    font-size: 13px;


}
/*-----------------Fixture---------------------------*/
.fixture{
    border: 1px solid #222;
    background: none;
    border-radius: 0;
}
.fixture p{
    font-weight: 500;
    font-size: 14px;

}
.rounded-image{
    border-radius: 50%;
    border: 1px solid #222;
    padding: 5px;
}

.senior-text{
    color: var(--senior);
}
.premier-head{
    width: 4%;

}
.premier-body{
    width: 4%;
    text-align: left !important;
}
.league-table tbody tr{
    border-bottom: 1px solid var(--outline);
}
.league-table tbody tr td{
    padding:8px 0px 8px 0px;
    text-align: center;
    font-size: 11px;

}
.league-table thead tr th{
    font-size: 11px;
}
.events-table tbody tr{
    border-bottom: 1px solid var(--outline);

}
.events-table tbody tr td{
    padding:10px 8px 10px 8px;
    font-size: 12px;
}

/*-----------------------Hihglights Page--------------*/

.highlight-title{
    position: absolute;
    bottom: 0px;
    padding-left: 5%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 65%, rgba(0,212,255,0.01) 100%);
    width: 100%;
    padding-top: 10%;
    padding-bottom: 1%;

}
.highlight-title h6{
    font-weight: bolder;
    font-size: 24px;
}
.highlight-title p span{
    color: var(--senior);
}
.play-icon-main{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 5px;
    background:var(--junior);
    color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: 45%;
    top: 40%;
    z-index: 100;
}

/*-------------injury------------*/
.injury span{
    color: var(--senior);
}
.injury p{
    font-size: 13px;
}
.injury h6{
    font-size: 14px;
}
/*------------------------livescore page----------------*/
.input-group{
    border-radius: 0;
}
.input-group-text{
    background: none;
    border:none;
    color: var(--light);
}

.input-group input[type=search]{
    background: none;
    border:none;
    box-shadow: none;
    color: var(--light);
}
.panel-image{
    font-size: 14px;
}
.live-score .nav-item .nav-link{
    font-size: 11px !important;
}
.live-score .nav-item .active{
    background-color: var(--senior);
    border: 1px solid var(--senior);
}
.fixture-competition h6{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
}
.fixture-competition span{
    font-size: 11px;
}

.game-detail{
    background-color: rgba(250,250,250, 0.05);
    border:1px solid var(--outline) ;
    padding: 8px;
}
.game-detail small{
    font-size: 11px;
}
.game-detail span{
    font-size: 14px;
}
.live{
    border-left:2px solid var(--junior) ;
}

.complete{
    border-left:2px solid var(--success) ;
}
/*--------------------------match-info----------------*/
.nav-tabs{
    border-bottom: 1px solid var(--outline);
}
.nav-tabs .nav-item .nav-link{
    font-size: 14px !important;
    border: 0!important;
}
.nav-tabs .nav-item .nav-link:hover{
    color: var(--senior);
    border: 0;
}

.nav-tabs .active{
    background:none !important;
    border: 0;
    color: var(--senior) !important;
}
.progress{
    border-radius: 0px !important;
    height: 4px;
}

.injury span{
    color: var(--senior);
}
.injury p{
    font-size: 14px;
}
